# COVID Analysis - Sorting Countries

## Import libraries

In [1]:
import pandas as pd
import numpy as np

## Loading dataset

In [5]:
df = pd.read_csv('country_vaccination_preprocessed.csv')
df.head()

,country,iso_code,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,daily_vaccinations_raw,daily_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,daily_vaccinations_per_million,vaccines,source_name,source_website
0,Afghanistan,AFG,2021-02-22,0,0,0,0,0,0.0,0.0,0.0,0,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi...",World Health Organization,https://covid19.who.int/
1,Afghanistan,AFG,2021-02-23,0,0,0,0,1367,0.0,0.0,0.0,34,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi...",World Health Organization,https://covid19.who.int/
2,Afghanistan,AFG,2021-02-24,0,0,0,0,1367,0.0,0.0,0.0,34,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi...",World Health Organization,https://covid19.who.int/
3,Afghanistan,AFG,2021-02-25,0,0,0,0,1367,0.0,0.0,0.0,34,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi...",World Health Organization,https://covid19.who.int/
4,Afghanistan,AFG,2021-02-26,0,0,0,0,1367,0.0,0.0,0.0,34,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi...",World Health Organization,https://covid19.who.int/

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 86512 entries, 0 to 86511
Data columns (total 15 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   country                              86512 non-null  object
 1   iso_code                             86512 non-null  object
 2   date                                 86512 non-null  object
 3   total_vaccinations                   86512 non-null  int64
 4   people_vaccinated                    86512 non-null  int64
 5   people_fully_vaccinated              86512 non-null  int64
 6   daily_vaccinations_raw               86512 non-null  int64
 7   daily_vaccinations                   86512 non-null  int64
 8   total_vaccinations_per_hundred       86512 non-null  float64
 9   people_vaccinated_per_hundred        86512 non-null  float64
 10  people_fully_vaccinated_per_hundred  86512 non-null  float64
 11  daily_vaccinations_per_million       86512 non-null  int64
 12  vaccines                             86512 non-null  object
 13  source_name                          86512 non-null  object
 14  source_website                       86512 non-null  object
dtypes: float64(3), int64(6), object(6)
memory usage: 9.9+ MB

In [15]:
data = df.groupby('country').sum()['total_vaccinations']

In [22]:
def dataframe(df):
    df_ = pd.DataFrame()
    df_['country'] = df.index
    df_['total_vaccinations'] = df.values
    return df_

##  1.Which Country is having least total Vaccinations?

In [23]:
nw_data = data.sort_values().head()
dataframe(nw_data)

            country  total_vaccinations
0          Pitcairn                 348
1           Tokelau                3857
2              Niue               11055
3  Falkland Islands               14163
4      Saint Helena               24233

## 2.Which Country is having the most total Vaccinations?

In [24]:
nw_data = data.sort_values( ascending = False).head()
dataframe(nw_data)

         country  total_vaccinations
0          China        709452663700
1          India        323440305798
2  United States        155013867208
3         Brazil         79067174395
4      Indonesia         45214622016