# A program to convert text files with csv to numpy arrays.

## Importing Library

In [1]:
import pandas as pd
import numpy as np

## Read and write function

In [2]:
def write_file(path,data,mode):
    
    # open the text file in write mode
    fd = open(path,mode)
    
    # write data in the file
    fd.write(data)
    
    # close the file
    fd.close()

def read_file(path):

    # open the text file in write mode
    fd = open(path,'r')

    # Reading data of text file
    data = fd.read()

    # close the file
    fd.close()

    # return the data
    return data

## Converting text files to csv files

In [3]:
data = read_file('Students Details.txt')

for line in data.split('\n'):
    
    format_data = ','.join(line.strip().split()) + '\n'
    
    write_file('Students Details.csv',format_data,'a')

## converting csv to numpy arrays

### Loading csv file in dataframe

In [4]:
df = pd.read_csv('Students Details.csv')
df.head()

      id                                         name division  gender
0  vu000                              Kelly,Mr.,James        3    male
1  vu001              Wilkes,Mrs.,James,(Ellen,Needs)        3  female
2  vu002                     Myles,Mr.,Thomas,Francis        2    male
3  vu003                              Wirz,Mr.,Albert        3    male
4  vu004  Hirvonen,Mrs.,Alexander,(Helga,E,Lindqvist)        3  female

### Saving file in .npy

In [10]:
data = df.values

with open("Students Details.npy", 'wb') as fb:
    np.save(fb, data)