# Student Data scraping

In [11]:
import pandas as pd

df      = pd.read_excel('College_Students.xlsx')


data    = list( df.iloc[ 3   : 82  ,1 : 4].values )
data   += list( df.iloc[ 88  : 161 ,1 : 4].values )
data   += list( df.iloc[ 166 : 214 ,1 : 4].values )
data   += list( df.iloc[ 220 : 322 ,1 : 4].values )

data   += list( df.iloc[ 327 : 374 ,1 : 4].values )
data   += list( df.iloc[ 379 : 456 ,1 : 4].values )
data   += list( df.iloc[ 461 : 527 ,1 : 4].values )
data   += list( df.iloc[ 532 : 541 ,1 : 4].values )

data   += list( df.iloc[ 546 : 591 ,1 : 4].values )
data   += list( df.iloc[ 596 : 632 ,1 : 4].values )
data   += list( df.iloc[ 637 : 697 ,1 : 4].values )
data   += list( df.iloc[ 702 : 721 ,1 : 4].values )


df      = pd.read_excel('College_Students.xlsx', sheet_name = 1)


data   += list( df.iloc[ 3   : 139 ,1 : 4] .values )
data   += list( df.iloc[ 144 : 178 ,1 : 4].values )
data   += list( df.iloc[ 183 : 303 ,1 : 4].values )
data   += list( df.iloc[ 702 : 721 ,1 : 4].values )

columns =       df.iloc[ 2         ,1 : 4].values

df      = pd.DataFrame(data, columns = columns)


def grad_year( branch ):
    
    year      = { 'TE': 23 , 'BE': 22 , 'SE': 24 }
    data      = branch.split(' ')[0]
    return      2000 + year[data]
    
def degree( branch ):
    degree_name      = { 'comp' : '( Computer Engineering )'   ,
                         'it'   : '( Information Technology )' , 
                         'elex' : '( Electronics & Electrical Engineering )',
                         'extc' : '( Electronics & Telecommunication Engineering )' }
    
    name             =  branch.split(' ')[1].lower()
    return              'BE ' + degree_name[name]
    
    
df['Graduation year'] = df['Branch'].apply(grad_year)
df['degree'         ] = df['Branch'].apply(degree   )

del df['Branch']

students = {}
for student in df.values:
    
    students[ student[0] ] = {
        'name'            : student[1],
        'graduation year' : student[2],
        'degree'          : student[3],
        'issued'          : {}
    }

import json as js
import os

# write dictionary data into json file 
def write_file(var, name = 'book' ):
    
    # writing extension of file as .json
    name += 's.json'
    
    # Opening json file in write mode
    fw    = open( name ,'w')

    # Dumping dictionary into json file  
    fw.write(js.dumps(var))

    # Closing the file
    fw.close()

write_file(students,'student')

df.head()

,ROLL NO,NAME OF STUDENTS,Graduation year,degree
0,VU1F1819009,GITE NAYAN KANTILAL SHEELA,2023,BE ( Computer Engineering )
1,VU1F1819050,KAMBLE ANTARIKSH SUSHIL MRUNAL,2023,BE ( Computer Engineering )
2,VU1F1819053,KUDEKAR VEDICA SITARAM SUREKHA,2023,BE ( Computer Engineering )
3,VU1F1819067,TARKAR SARVADNYA AMRUT BHAVANA,2023,BE ( Computer Engineering )
4,VU1F1920001,KULKARNI SHRAVANI SANDESH MANJIRI,2023,BE ( Computer Engineering )

# Amazon Books WebScraping

In [2]:
import requests as rq
from bs4 import BeautifulSoup as BS
from tqdm import tqdm

Requirement already satisfied: requests in e:\anaconda\lib\site-packages (2.27.1)
Requirement already satisfied: charset-normalizer~=2.0.0 in e:\anaconda\lib\site-packages (from requests) (2.0.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in e:\anaconda\lib\site-packages (from requests) (1.26.9)
Requirement already satisfied: certifi>=2017.4.17 in e:\anaconda\lib\site-packages (from requests) (2021.10.8)
Requirement already satisfied: idna<4,>=2.5 in e:\anaconda\lib\site-packages (from requests) (3.3)

In [76]:
res     = rq.get('https://www.amazon.in/s?k=books&qid=1672408353&ref=sr_pg_1')
while not res.ok:
    res     = rq.get('https://www.amazon.in/s?k=books&qid=1672408353&ref=sr_pg_1')
    
soup    = BS( res.content, 'html.parser')
content = soup.find('div', class_ = 's-main-slot s-result-list s-search-results sg-row')

books   = content.find_all('div', class_ = 'a-section a-spacing-small a-spacing-top-small')

for book in books:
    
    # Getting book name , author, and release date
    name_author_release = book.find('div', class_ = 'a-section a-spacing-none puis-padding-right-small s-title-instructions-style')
    name_author_release = name_author_release.text.split('by')
    
    name                = name_author_release[0]
    author_release      = name_author_release[1].split('|')
    
    
    ratings = book.find_all('div', class_ = 'a-section a-spacing-none a-spacing-top-micro')
    
    if len(ratings) == 1:
        ratings       = float('nan')
        rating_counts = float('nan')
    else:
        ratings       = ratings[0].text
        rating_counts = ratings.split(')')[-1]
        ratings       = ratings[:3]
    
    
    
    price = book.find('a', class_= 'a-size-base a-link-normal s-underline-text s-underline-link-text s-link-style a-text-normal')
    
    price = price.text.split('â‚¹')
    
    if len(price) == 3:
        
    
    if len(author_release) == 1: 
        release         = book.find('span', class_ = 'a-size-base a-color-secondary a-text-normal')
        author_release.append(release.text)
    print('*******************************************')
    
    #print(author_release)

['', '98', '98 ', '199', '199 ']
*******************************************
['', '100', '100 ', '125', '125 ']
*******************************************
['', '170', '170 ', '250', '250 ']
*******************************************
['', '197', '197 ', '250', '250 ']
*******************************************
['', '225', '225 ', '550', '550 ']
*******************************************
['', '221', '221 ', '360', '360 ']
*******************************************
['', '425', '425 ', '599', '599 ']
*******************************************
['', '379', '379 ', '750', '750 ']
*******************************************
['', '178', '178 ', '275', '275 ']
*******************************************
['', '299', '299 ', '330', '330 ']
*******************************************
['', '499', '499 ', '740', '740 ']
*******************************************
['', '459', '459 ', '695', '695 ']
*******************************************
['', '160.55', '160.55 ']
*******************************************
['', '421', '421 ', '599', '599 ']
*******************************************
['', '152', '152 ']
*******************************************
['', '183', '183 ', '199', '199 ']
*******************************************

In [62]:
res     = rq.get('https://www.amazon.in/s?k=books&qid=1672408353&ref=sr_pg_1')
res.ok

False