# Student Data scraping

In [11]:
import pandas as pd

df      = pd.read_excel('College_Students.xlsx')


data    = list( df.iloc[ 3   : 82  ,1 : 4].values )
data   += list( df.iloc[ 88  : 161 ,1 : 4].values )
data   += list( df.iloc[ 166 : 214 ,1 : 4].values )
data   += list( df.iloc[ 220 : 322 ,1 : 4].values )

data   += list( df.iloc[ 327 : 374 ,1 : 4].values )
data   += list( df.iloc[ 379 : 456 ,1 : 4].values )
data   += list( df.iloc[ 461 : 527 ,1 : 4].values )
data   += list( df.iloc[ 532 : 541 ,1 : 4].values )

data   += list( df.iloc[ 546 : 591 ,1 : 4].values )
data   += list( df.iloc[ 596 : 632 ,1 : 4].values )
data   += list( df.iloc[ 637 : 697 ,1 : 4].values )
data   += list( df.iloc[ 702 : 721 ,1 : 4].values )


df      = pd.read_excel('College_Students.xlsx', sheet_name = 1)


data   += list( df.iloc[ 3   : 139 ,1 : 4] .values )
data   += list( df.iloc[ 144 : 178 ,1 : 4].values )
data   += list( df.iloc[ 183 : 303 ,1 : 4].values )
data   += list( df.iloc[ 702 : 721 ,1 : 4].values )

columns =       df.iloc[ 2         ,1 : 4].values

df      = pd.DataFrame(data, columns = columns)


def grad_year( branch ):
    
    year      = { 'TE': 23 , 'BE': 22 , 'SE': 24 }
    data      = branch.split(' ')[0]
    return      2000 + year[data]
    
def degree( branch ):
    degree_name      = { 'comp' : '( Computer Engineering )'   ,
                         'it'   : '( Information Technology )' , 
                         'elex' : '( Electronics & Electrical Engineering )',
                         'extc' : '( Electronics & Telecommunication Engineering )' }
    
    name             =  branch.split(' ')[1].lower()
    return              'BE ' + degree_name[name]
    
    
df['Graduation year'] = df['Branch'].apply(grad_year)
df['degree'         ] = df['Branch'].apply(degree   )

del df['Branch']

students = {}
for student in df.values:
    
    students[ student[0] ] = {
        'name'            : student[1],
        'graduation year' : student[2],
        'degree'          : student[3],
        'issued'          : {}
    }

import json as js
import os

# write dictionary data into json file 
def write_file(var, name = 'book' ):
    
    # writing extension of file as .json
    name += 's.json'
    
    # Opening json file in write mode
    fw    = open( name ,'w')

    # Dumping dictionary into json file  
    fw.write(js.dumps(var))

    # Closing the file
    fw.close()

write_file(students,'student')

df.head()

,ROLL NO,NAME OF STUDENTS,Graduation year,degree
0,VU1F1819009,GITE NAYAN KANTILAL SHEELA,2023,BE ( Computer Engineering )
1,VU1F1819050,KAMBLE ANTARIKSH SUSHIL MRUNAL,2023,BE ( Computer Engineering )
2,VU1F1819053,KUDEKAR VEDICA SITARAM SUREKHA,2023,BE ( Computer Engineering )
3,VU1F1819067,TARKAR SARVADNYA AMRUT BHAVANA,2023,BE ( Computer Engineering )
4,VU1F1920001,KULKARNI SHRAVANI SANDESH MANJIRI,2023,BE ( Computer Engineering )

# Amazon Books WebScraping

## **Testing for one page**

In [7]:
import requests as rq
from bs4 import BeautifulSoup as BS
from tqdm import tqdm

res     = rq.get('https://www.amazon.in/s?k=books')
while not res.ok:
    res     = rq.get('https://www.amazon.in/s?k=books')
    
soup    = BS( res.content, 'html.parser')
content = soup.find('div', class_ = 's-main-slot s-result-list s-search-results sg-row')

books   = content.find_all('div', class_ = 'a-section a-spacing-small a-spacing-top-small')

for book in books:
    
    # Getting book name , author, and release date
    name_author_release = book.find('div', class_ = 'a-section a-spacing-none puis-padding-right-small s-title-instructions-style')
    name                = name_author_release.find('span').text
    author_release      = name_author_release.find('div' ).text[3:].split('|')
    
    
    # getting  ratings and rating count
    ratings = book.find_all('div', class_ = 'a-section a-spacing-none a-spacing-top-micro')
    
    if len(ratings) == 1:
        ratings       = float('nan')
        rating_counts = float('nan')
    else:
        ratings       = ratings[0].text
        rating_counts = ratings.split(')')[-1]
        ratings       = ratings[:3]
    
    
   # gettting price of book
    price = book.find('span', class_ = 'a-price a-text-price').find('span').text[1:]
    print(name)
    print(price)
    print()
    
    '''price = price.text.split()[:-1]
    
    if len(price) == 3:
        price      = float( price[ 1][1:].split('₹')[0] )
        
    else:
        
        discount   = float( price[-1][1:-1]               )
        price      = float( price[ 0][1:  ].split('₹')[0] )
        
        discount   = 1 - discount / 100
        
        price      = price / discount
        
        price      = round(price,1)'''
        
    
#next_link = content.find('a',class_ = 's-pagination-item s-pagination-next s-pagination-button s-pagination-separator')
    
#'https://www.amazon.in/' + next_link.get('href')

Life's Amazing Secrets: How to Find Balance and Purpose in Your Life | Inspirational Zen book on motivation, self-development & healthy living
250

Grandma's Bag of Stories: Collection of 20+ Illustrated short stories, traditional Indian folk tales for all ages for children of all ages by Sudha Murty
250

Picture Books Collection for Early Learning (Set of 12)
360

Do It Today: Overcome Procrastination, Improve Productivity
199

My First Library: Boxset of 10 Board Books for Kids
750

MANORMA YEAR BOOK 2023 (ENG)
330

Brain Activity Book for Kids - 200+ Activities for Age 3+
125

Atomic Habits: the life-changing million-copy #1 bestseller
820

Story book: 365 Stories from the Vedas, the Upanishads and the Puranas for Children (with colourful illustrations) (365 series)
695

SSC English TCS 7600+ MCQ Topic wise Book with the detailed explanation I 3rd edition
740

KVS PEDAGOGY MASTER BOOK (BILINGUAL) THEORY with PRACTICE MCQ's
599

Examcart KVS Study Guide Book For 2023 Exams in English
599

My First Mythology Tale (Illustrated) (Set of 5 Books) - Mahabharata, Krishna, Hanuman, Ganesha, Ramayana - Story Book for Kids - English Short Stories with Colourful Pictures - Read Aloud to Infants, Toddlers
275

The Book Tree Baby Box Gift Set of Small 6 Board Book for Children Age 0 - 2 Years- 12 Pages Board Book
499

The Subtle Art of Not Giving a F*ck: A Counterintuitive Approach to Living a Good Life (Mark Manson Collection Book 1)
1,238

Ikigai: The Japanese secret to a long and happy life
615

## Multiple page web scraping

In [25]:
import requests as rq
from bs4 import BeautifulSoup as BS
from tqdm import tqdm
import pandas as pd

flag = False
new_link = '/s?k=books'

lst = []
while new_link:
    
    if not type(new_link) == str:
        new_link = new_link.get('href')
        
    link = 'https://www.amazon.in' + new_link
    #print(link)
    res     = rq.get(link)
    while not res.ok:
        res     = rq.get(link)

    soup    = BS( res.content, 'html.parser')
    content = soup.find('div', class_ = 's-main-slot s-result-list s-search-results sg-row')
    new_link = content.find('a',class_ = 's-pagination-item s-pagination-next s-pagination-button s-pagination-separator')
    books   = content.find_all('div', class_ = 'a-section a-spacing-small a-spacing-top-small')

    for book in books:

        # Getting book name , author, and release date
        name_author_release    = book.find('div', class_ = 'a-section a-spacing-none puis-padding-right-small s-title-instructions-style')
        name                   = name_author_release.find('span').text
        book_link              = name_author_release.find('a').get('href')
        edition_author_release = name_author_release.find('div' )
        
        if edition_author_release is None:
            edition_author_release = [ float('nan') for i in range(3)]
        
        else:
            edition_author_release = edition_author_release.text.split('|')
            
            if len(edition_author_release) == 2:
                edition_author_release = [float('nan')] + edition_author_release

        # getting  ratings and rating count
        ratings = book.find_all('div', class_ = 'a-section a-spacing-none a-spacing-top-micro')

        if len(ratings) == 1:
            ratings       = float('nan')
            rating_counts = float('nan')
        else:
            ratings       = ratings[0].text
            rating_counts = ratings.split(')')[-1]
            ratings       = ratings[:3]


       # gettting price of book
        price = book.find('span', class_ = 'a-price a-text-price')
        
        if price is None:
            price = book.find('span', class_ = 'a-price-whole')
            
            if price is None:
                price = float('nan')
            
            else:
                price = price.text
            
        else:
            price = price.find('span').text[1:]
            
        
        # combing all scraped in list and added in final lst
        data = [name, book_link] + edition_author_release + [ratings, rating_counts, price]
        
        lst.append(data)

columns = ['name','link','edition','author','release','ratings','rating_counts','price']
df = pd.DataFrame( lst , columns = columns)
df.head()

NameError: name 'pd' is not defined

In [27]:
df.to_csv('AmazonBooks.csv',index = False)

In [1]:
# getting genres for booking
import pandas as pd
import requests as rq
from bs4 import BeautifulSoup as BS
from tqdm import tqdm

df            = pd.read_csv('AmazonBooks.csv')

genres = []
for link in tqdm(df['link']):
    
    link      = 'https://www.amazon.in' + link
    
    res       = rq.get(link)
    
    while not res.ok:
        res   = rq.get(link)
    
    book_page = BS( res.content, 'html.parser')
    
    genre     = book_page.find('span',class_ = 'cat-link')
    
    genre     = genre.text if genre else float('nan')
    
    genres   += [genre]

100%|████████████████████████████████████████████████████████████████████████████████| 306/306 [14:21<00:00,  2.81s/it]

[nan,
 "in Children's Literature & Fiction",
 nan,
 nan,
 "in Children's Family, Personal & Social Issues",
 'in Humanities',
 "in Children's Interactive & Activity Books",
 nan,
 nan,
 nan,
 'in Teacher Recruitment Exams',
 'in Central Teacher Eligibility Test (CTET)',
 'in Mythology & Folklore Encyclopedias',
 "in Children's Sport",
 nan,
 nan,
 nan,
 nan,
 nan,
 'in International Business',
 nan,
 'in Historical Fiction',
 nan,
 nan,
 nan,
 nan,
 'in Maharashtra Public Service Commission (MPSC)',
 nan,
 nan,
 'in Money & Monetary Policy',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'in Exam Preparation',
 nan,
 nan,
 nan,
 nan,
 'in Finance eTextbooks',
 nan,
 nan,
 "in Children's Crafts, Hobbies & Practical Interests",
 nan,
 nan,
 'in Business Entrepreneurship Textbooks',
 nan,
 'in Anthropology',
 nan,
 'in Police Exams',
 nan,
 nan,
 'in Earth Sciences Books',
 nan,
 nan,
 nan,
 'in Investments & Securities',
 nan,
 nan,
 'in Painting',
 nan,
 'in Art Encyclopedias',
 'in Religion Encyclopedias',
 nan,
 'in Games & Quizzes',
 nan,
 nan,
 "in Children's Games, Toys & Activities",
 'in Nursing',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 "in Children's History",
 nan,
 nan,
 'in Books',
 nan,
 nan,
 'in Madhya Pradesh Public Service Commission (MPPSC)',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'in Dictionaries',
 'in Handwriting Reference',
 nan,
 nan,
 nan,
 nan,
 'in Development & Growth',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'in Writing Guides',
 nan,
 nan,
 'in SSC Exam',
 nan,
 nan,
 nan,
 nan,
 'in Health, Fitness & Nutrition',
 nan,
 nan,
 nan,
 'in Commerce',
 nan,
 nan,
 'in Painting Books',
 'in Language Learning & Teaching',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'in Engineering & Technology',
 "in Children's Mysteries & Curiosities",
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'in Neuropsychology',
 nan,
 'in Mysticism',
 nan,
 nan,
 nan,
 nan,
 'in Reading Skills',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'in Uttar Pradesh (UPSSC)',
 'in Reincarnation',
 nan,
 nan,
 'in Biochemistry',
 nan,
 nan,
 'in Creativity',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'in Short Stories',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'in Urban & Regional',
 nan,
 nan,
 nan,
 nan,
 'in Readers',
 nan,
 nan,
 nan,
 nan,
 nan,
 'in Gujarat Public Service Commission (GPSC)',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'in Uttar Pradesh (UPSSC)',
 'in Reincarnation',
 nan,
 nan,
 nan,
 'in Gardening Encyclopedias',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'in Emotional Self Help',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'in Workbooks',
 nan]

In [2]:
df['genres'] = genres
df.to_csv('AmazonBooks.csv',index = False)

## Preprocessing of Amazon books

In [3]:
import pandas as pd
df = pd.read_csv('AmazonBooks.csv')
df.head()

,name,link,edition,author,release,ratings,rating_counts,price,genres
0,Life's Amazing Secrets: How to Find Balance an...,/Lifes-Amazing-Secrets-Balance-Purpose/dp/0143...,NaN,by Gaur Gopal Das,8 October 2018,4.6,"18,939",250,NaN
1,Grandma's Bag of Stories: Collection of 20+ Il...,/Grandmas-Bag-Stories-Sudha-Murty/dp/0143333623,NaN,by Sudha Murty,1 January 2015,4.6,"17,113",250,in Children's Literature & Fiction
2,Picture Books Collection for Early Learning (S...,/Picture-Books-Collection-Early-Learning/dp/B0...,NaN,by E C Axus,1 January 2016,4.3,"17,669",360,NaN
3,"Do It Today: Overcome Procrastination, Improve...",/Do-Today-procrastination-productivity-meaning...,NaN,by Darius Foroux,27 October 2020,4.5,"3,595",199,NaN
4,My First Library: Boxset of 10 Board Books for...,/My-First-Library-Boxset-Board/dp/9387779262,NaN,by Wonder House Books,1 January 2018,4.5,"65,598",750,"in Children's Family, Personal & Social Issues"

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 306 entries, 0 to 305
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   name           306 non-null    object
 1   link           306 non-null    object
 2   edition        75 non-null     object
 3   author         299 non-null    object
 4   release        299 non-null    object
 5   ratings        268 non-null    float64
 6   rating_counts  265 non-null    object
 7   price          302 non-null    object
 8   genres         56 non-null     object
dtypes: float64(1), object(8)
memory usage: 21.6+ KB

In [30]:
df.isnull().sum()

name               0
link               0
edition          231
author             7
release            7
ratings           38
rating_counts     41
price              4
dtype: int64

In [5]:
df['genres'].unique()

array([nan, "in Children's Literature & Fiction",
       "in Children's Family, Personal & Social Issues", 'in Humanities',
       "in Children's Interactive & Activity Books",
       'in Teacher Recruitment Exams',
       'in Central Teacher Eligibility Test (CTET)',
       'in Mythology & Folklore Encyclopedias', "in Children's Sport",
       'in International Business', 'in Historical Fiction',
       'in Maharashtra Public Service Commission (MPSC)',
       'in Money & Monetary Policy', 'in Exam Preparation',
       'in Finance eTextbooks',
       "in Children's Crafts, Hobbies & Practical Interests",
       'in Business Entrepreneurship Textbooks', 'in Anthropology',
       'in Police Exams', 'in Earth Sciences Books',
       'in Investments & Securities', 'in Painting',
       'in Art Encyclopedias', 'in Religion Encyclopedias',
       'in Games & Quizzes', "in Children's Games, Toys & Activities",
       'in Nursing', "in Children's History", 'in Books',
       'in Madhya Pradesh Public Service Commission (MPPSC)',
       'in Dictionaries', 'in Handwriting Reference',
       'in Development & Growth', 'in Writing Guides', 'in SSC Exam',
       'in Health, Fitness & Nutrition', 'in Commerce',
       'in Painting Books', 'in Language Learning & Teaching',
       'in Engineering & Technology',
       "in Children's Mysteries & Curiosities", 'in Neuropsychology',
       'in Mysticism', 'in Reading Skills', 'in Uttar Pradesh (UPSSC)',
       'in Reincarnation', 'in Biochemistry', 'in Creativity',
       'in Short Stories', 'in Urban & Regional', 'in Readers',
       'in Gujarat Public Service Commission (GPSC)',
       'in Gardening Encyclopedias', 'in Emotional Self Help',
       'in Workbooks'], dtype=object)

In [6]:
df['price'        ] = df['price'        ].apply( lambda x : float(x.replace(',','')) if type(x) == str else x )
df['rating_counts'] = df['rating_counts'].apply( lambda x :   int(x.replace(',','')) if type(x) == str else x )
df['author'       ] = df['author'       ].apply( lambda x :       x.strip()[3:]      if type(x) == str else x )
df['genres'       ] = df['genres'       ].apply( lambda x :       x[3:]              if type(x) == str else x )
df['link'         ] = df['link'         ].apply( lambda x : 'https://www.amazon.in' + x                       )

df.head()

,name,link,edition,author,release,ratings,rating_counts,price,genres
0,Life's Amazing Secrets: How to Find Balance an...,https://www.amazon.in/Lifes-Amazing-Secrets-Ba...,NaN,Gaur Gopal Das,8 October 2018,4.6,18939.0,250.0,NaN
1,Grandma's Bag of Stories: Collection of 20+ Il...,https://www.amazon.in/Grandmas-Bag-Stories-Sud...,NaN,Sudha Murty,1 January 2015,4.6,17113.0,250.0,Children's Literature & Fiction
2,Picture Books Collection for Early Learning (S...,https://www.amazon.in/Picture-Books-Collection...,NaN,E C Axus,1 January 2016,4.3,17669.0,360.0,NaN
3,"Do It Today: Overcome Procrastination, Improve...",https://www.amazon.in/Do-Today-procrastination...,NaN,Darius Foroux,27 October 2020,4.5,3595.0,199.0,NaN
4,My First Library: Boxset of 10 Board Books for...,https://www.amazon.in/My-First-Library-Boxset-...,NaN,Wonder House Books,1 January 2018,4.5,65598.0,750.0,"Children's Family, Personal & Social Issues"

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 306 entries, 0 to 305
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   name           306 non-null    object
 1   link           306 non-null    object
 2   edition        75 non-null     object
 3   author         299 non-null    object
 4   release        299 non-null    object
 5   ratings        268 non-null    float64
 6   rating_counts  265 non-null    float64
 7   price          302 non-null    float64
 8   genres         56 non-null     object
dtypes: float64(3), object(6)
memory usage: 21.6+ KB

In [7]:
df.to_csv('Amazonbook_preprocessed.csv',index=False)